 <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">🔥 BitCamp.ge</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link" target="_blank"
          href="https://start.bitcamp.ge">დაწყება</a>
        <a class="nav-link" target="_blank"
          href="https://www.facebook.com/groups/3969683209738650/">FB ჯგუფი</a>
        <a class="nav-link" target="_blank"
          href="https://www.facebook.com/bitcamp.ge">FB გვერდი</a>
      </nav>
    </div>
  </header>

  <main role="main" class="inner cover">
    <img class="cover-heading" src="{{ base_path ~ directory }}/images/cover.jpg"/>
    <p class="lead">პროგრამირებისა და ვებ-ტექნოლოგიების სასწავლო პლათფორმა</p>
    <p class="lead">
      <a href="https://www.facebook.com/groups/3969683209738650/" target="_blank" class="btn btn-lg btn-primary mr-1 mt-2">შემოგვიერთდი 🔥</a>
      <a href="https://link.medium.com/yW9DoE1QS6" target="_blank" class="btn btn-lg btn-secondary mt-2">როგორ მუშაობს? 🚀</a>
    </p>
    
    <img class="cover-heading" src="{{ base_path ~ directory }}/images/fb.png"/>
  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>გაინტერესებს როგორ მუშაობს BitCamp? ჩვენი ფილოსოფიისა და სულისკვეთების
      შესახებ უფრო ვრცალდ შეგიძლია <a target="_blank" href="https://link.medium.com/yW9DoE1QS6">წაიკითხო
        აქ.</a>
    </div>
  </footer>
</div>
    
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-168888380-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-168888380-1');
</script>
